/* purgecss start ignore */
@tailwind base;

body {
  background-image: url(https://brittikbasu.imfast.io/img/brittik_bg.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  @apply text-4xl font-bold;
}
h2 {
  @apply text-2xl font-bold;
}
h3 {
  @apply text-xl font-bold;
}
h4{
  @apply font-semibold;
  color: #354A54;
}
h5{
  color:#334A52;
  @apply font-medium;
}
a {
  @apply underline;
  color: #00A7FA;
}
a:hover {
  @apply text-blue-700 no-underline;
}
p {
  @apply mb-8;
  @apply text-xl;
}

ul {
  @apply list-disc pl-6;
}

ol{
  @apply list-decimal pl-6;
}

li{
  @apply text-lg mb-4;
}

hr {
  @apply my-4;
}

.refs-box{
  background: #5F6995;
}

.refs-box a {
  color: #E9EFFF;
}

.refs-box a:hover {
  color: #c1ebff;
}



.refs-box h4{
  font-weight: 800;
  color: #2e3a62;
  letter-spacing: 0.05rem;
}

.refs-box h5{
  color: #C0C7F9;
}

blockquote {
  @apply py-1 px-4 mb-4 border-l-2 border-blue-500;
}
blockquote p {
  @apply m-0 font-serif text-xl;
}

code {
  @apply text-sm text-orange-800 bg-orange-100 px-1 -mx-1 rounded;
}

pre {
  @apply mb-4;
}

pre > code {
  @apply p-0 m-0 mb-2 bg-transparent;
}

@tailwind components;

/* copied from tippy.js/animations/shift-away.css */
.tippy-box[data-animation='shift-away'][data-state='hidden'] {
  opacity: 0;
}
.tippy-box[data-animation='shift-away'][data-state='hidden'][data-placement^='top'] {
  transform: translateY(10px);
}
.tippy-box[data-animation='shift-away'][data-state='hidden'][data-placement^='bottom'] {
  transform: translateY(-10px);
}
.tippy-box[data-animation='shift-away'][data-state='hidden'][data-placement^='left'] {
  transform: translateX(10px);
}
.tippy-box[data-animation='shift-away'][data-state='hidden'][data-placement^='right'] {
  transform: translateX(-10px);
}
/* purgecss end ignore */

@tailwind utilities;

.highlight {
  @apply px-1 mx-1 rounded;
  background-color: #FCFCD4;
}

::selection {
  background-color: #638CF6;
  color: #F6F8FF;
}

.handwritten-notes-img {
  position: relative;
  z-index: 0;
}

.handwritten-notes-content {
  position: absolute;
  top: 140px;
  width: 400px;
  color: transparent;
  z-index: 0;
}

/* purgecss start ignore */

.handwritten-notes-content a {
  color: transparent;
}

.handwritten-notes-content a[href='/ipad'] {
  position: absolute;
  z-index: 2;
  display: block;
  top: 310px;
  left: calc(50% - 63px);
}

.note-container {
  max-width: 100vw;
  position: relative;
  background: url(https://toptal.com/designers/subtlepatterns/patterns/paper.png);
}

/*
.note-container:after {
  background: url(https://toptal.com/designers/subtlepatterns/patterns/paper.png);
  content: '';
  opacity: 0.4;
  pointer-events: none;
  width: 100%;
  height: 100%; 
  position: absolute;
  z-index: -1000000 !important;
  top: 0;
  left: 0;
}*/


.social-icon {
@apply h-8 w-8 p-2 rounded-full cursor-pointer;
background: #5f6995;
}

.social-icon:hover{
  background-color: #00A7FA;
}

.submit-button{
  background: #2E3A62;
  color: #E9EFFF;
}

@media (max-width: 768px) {
  .note-columns-container {
    width: unset !important;
  }

  .note-container {
    width: 100% !important;
  }
}

/* purgecss end ignore */
